<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
  <!--
var steps = 20;
var stepsd = 100;
var newData = false;
var newDatad = false;

function drawa () {
  if (!newData) {
    return;
  }
  var aCanvas = document.getElementById('a');
  var ctx = aCanvas.getContext('2d');

  var height = aCanvas.height;
  var width = aCanvas.width-100;
  var scaleDelta = height/(dashPump.max*1.2);
  var scaleLive = height/(pumpLiveMachines.max*1.2)/4;
  var step = width/(steps-1);

  // clear
  ctx.clearRect(0,0,aCanvas.width,aCanvas.height);

  // fill
  ctx.fillStyle = "#eee";
  ctx.rect(0,0,aCanvas.width,aCanvas.height);
  ctx.fill();

  drawSquigglies(dashPump);
  for (mID in machines) {
    if ($("#"+mID+"show").prop("checked")||$("#"+mID).hasClass("hover")) {
      drawSquigglies(machines[mID]);
    }
  }
  drawSquigglies(pumpLiveMachines);
  newData = false;
}

function drawd() {
  if (!newDatad) {
    return;
  }

  var dCanvas = document.getElementById('d');
  var ctx = dCanvas.getContext('2d');

  var height = dCanvas.height;
  var width = dCanvas.width;
//  var scale = height/(pump.max*pump.scale);
  var step = width/(stepsd-1);

  ctx.clearRect(0,0,width,height);

  ctx.fillStyle = "#ddd";
  ctx.rect(0,0,width,height);
  ctx.fill();
  newDatad=false;
}

function drawSquigglies(pump) {
  var aCanvas = document.getElementById('a');
  var ctx = aCanvas.getContext('2d');

  var height = aCanvas.height;
  var width = aCanvas.width-100;
  var scale = height/(pump.max*pump.scale);
  var step = width/(steps-1);

  ctx.fillStyle = "rgba("+pump.color[0]+","+pump.color[1]+","+pump.color[2]+",1)";
  ctx.font = "sans-serif bold";
  ctx.fillText(pump.data[steps-1],width+10,height - pump.data[steps-1]*scale+4);

  ctx.fillStyle = "rgba("+pump.color[0]+","+pump.color[1]+","+pump.color[2]+",0.25)";
  ctx.beginPath()
  ctx.moveTo(0, height);
  ctx.lineTo(0, pump.data[0]);
  for (var i=0;i<pump.data.length;i++) {
    ctx.lineTo(i*step, height - pump.data[i]*scale);
  }
  ctx.lineTo((pump.data.length-1)*step, height);
  ctx.closePath();
  ctx.fill();
  // stroke
  ctx.strokeStyle = "rgba("+pump.color[0]+","+pump.color[1]+","+pump.color[2]+",0.75)";
  ctx.lineWidth = 1.6;
  for (var j=0;j<pump.data.length;j++) {
    if (j) {
      ctx.lineTo(j*step, height - pump.data[j]*scale);
      ctx.closePath();
      ctx.stroke();
    }
    ctx.beginPath();
    ctx.moveTo(j*step, height - pump.data[j]*scale);
  }
}

var lastColor = [255,65,65];
var colorShift = [-10,10,0];

function getColor() {
  for (c=0;c<colorShift.length;c++) {
    if (colorShift[c]==-10 && lastColor[c]<=65) {
      var top = colorShift.shift();
      colorShift.push(top);
      break;
    }
  }
    
  lastColor[0]+=colorShift[0];
  lastColor[1]+=colorShift[1];
  lastColor[2]+=colorShift[2];

  var output = new Array();
  output.push(lastColor[0]);
  output.push(lastColor[1]);
  output.push(lastColor[2]);
  return output;
}

var Datapump = function() {
  var index = 0;
  this.color = [0,0,0];
  this.scale = 1;
  this.max = 1;
  this.data = [ 0 ];
  this.index = index;
  this.nothingcount = 0;
  this.nothing = function() {
    this.nothingcount++;
    this.data.shift();
    this.data.push(0);
  }
  this.fill = function (length) {
    while(this.data.length<length) {
      this.data.push(0);
    }
  }
  this.push = function(data) {
    if (typeof data == "number"||data===null) {
      data = new Array(index,data);
      index++;
    }
    if (data[1]==0) {
      this.data.push(0);
      return;
    }
    this.nothingcount = 0;
    if (data[1]>this.max) {
      this.max = data[1];
    }
    this.data.push(data[1]);
    this.shift();
  }
  this.shift = function() {
    var shiftval = this.data.shift();
    if (this.max==shiftval) {
      var newmax = 1;
      for (val in this.data) {
        if (this.data[val]>newmax) {
          newmax = this.data[val];
        }
      }
      this.max = newmax;
    }
  }
}

var dashPump = new Datapump();
dashPump.fill(steps);
dashPump.color = getColor();
dashPump.scale = 1.2;

var pumpLiveMachines = new Datapump();
pumpLiveMachines.fill(steps);
pumpLiveMachines.color = getColor();
pumpLiveMachines.scale = 4;

var socket = io.connect();

socket.on('connect', function() {
  socket.emit('dashstart');
  var aCanvas = document.getElementById('a');
  aCanvas.width = 1000;
  aCanvas.height = 300;
  var dCanvas = document.getElementById('d');
  dCanvas.width = 1000;
  dCanvas.height = 300;
});

socket.on('dash', dash);
socket.on('tlog', tlog);

function tlog(data) {
  for (tID in data) {
    if (!tasks[tID]) {
      tasks[tID] = new Object();
      tasks[tID].cpu = new Object();
      tasks[tID].cpu["0"] = new Object();
      tasks[tID].cpu["0"]["1486"] = new Datapump();
      tasks[tID].cpu["0"]["1423"] = new Datapump();
      var pow = tasks[tID].cpu["0"]["1486"];
      var tem = tasks[tID].cpu["0"]["1423"];
      pow.fill(stepsd);
      tem.fill(stepsd);
      pow.color = getColor();
      tem.color = getColor();
      pow.scale = 2;
      tem.scale = 2;
      $("#f").append("<li id=\""+tID+"\" style=\"color:rgb("+pow.color+");\">"+tID+"</li>");
    }
    while (data[tID].length) {
      var cD = data[tID].pop();
      tasks[tID].cpu["0"]["1486"].push(new Array(cD.ts, parseInt(cD.cpu["0"]["1486"], 16)));
      tasks[tID].cpu["0"]["1423"].push(new Array(cD.ts, parseInt(cD.cpu["0"]["1423"], 16)));
    }
  }

  newDatad=true;
//  $("#e").append("<p>"+JSON.stringify(tasks)+"</p>\r\n");
}

var machines = new Object();
var tasks = new Object();

function rdmsr(mID) {
  socket.emit('rdmsr', mID);
  return false;
}

function dash(data) {
  var b = '';
  var updated = new Array();
  var todelete = new Array();

  for (mID in data.deltaMachines) {
    if (machines[mID]) {
      machines[mID].push(data.deltaMachines[mID]);
    } else {
      machines[mID] = new Datapump();
      machines[mID].fill(steps);
      machines[mID].color = getColor();
      machines[mID].scale = 2;
      $("#c").append("<li id=\""+mID+"\" style=\"color:rgb("+machines[mID].color+");\"><input type=\"checkbox\" id=\""+mID+"show\" /><label for=\""+mID+"show\">"+mID+"</label></li>");
      $("#"+mID).append("<a href=\"#\" class=\"add\" onclick=\"rdmsr('"+mID+"');\">+</a>");
      $("#"+mID).hover( function() { $(this).addClass("hover"); newData = true; }, function() { $(this).removeClass("hover"); newData = true; });
    }
    updated.push(mID)
  }

  for (mID in machines) {
    if (updated.indexOf(mID)==-1) {
      machines[mID].nothing();
    }
    if (machines[mID].nothingcount>=steps) {
      todelete.push(mID);
    }
  }

  for (dID in todelete) {
    var mID=todelete[dID]
    delete machines[mID];
    $("#"+mID).remove();
  }

  dashPump.push(data.deltaLive);
  pumpLiveMachines.push(data.liveMachines);
  newData = true;
//  $('#b').html('<p>'+JSON.stringify(data)+'</p>\r\n'+b);
}

var drawaInterval = setInterval(drawa, 15);
var drawdInterval = setInterval(drawd, 15);

$(document).ready(function() {

});
  -->
  </script>
  <style type="text/css">
    body,html{
      margin:0;
      padding:0;
      font-family:sans-serif;
    }
    #a,#b{
      float:left;
    }
    ul{
      list-style-type:none;
    }
    .add{
      font-weight:bold;
    }
    a{
      text-decoration:none;
      color:rgba(0,0,0,1);
    }
  </style>
  <title>Hyrule</title>
</head>
<body>
  <canvas id="a"></canvas>
  <div id="b"><ul id="c"></ul></div>
  <canvas id="d"></canvas>
  <div id="e"><ul id="f"></ul></div>
</body>
</html>
